* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #002047;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat__container {
    width: calc(100% / 2);
    height: 90%;
    background-color: #001329;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#chat__container__form {
    display: flex;
    align-items: center;
    border: 1px solid #CBCBCB;
    width: 100%;
    padding: .3rem;
    border-radius: 3px;
}

#chat__container__form input {
    height: 100%;
}

#chat__container__form__input {
    width: 100%;
    background: transparent;
    color: white;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: .9rem;
}

#chat__container__form__submit {
    background-image: url('./public/assets/submit-button.svg');
    width: 3rem;
    height: 100%;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    cursor: pointer;
}

#chat__container__chats__content {
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

#chat__container__chat__user {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    margin-bottom: 2rem;
}

#chat__container__chat__user img {
    padding-left: 1rem;
    width: 7rem;
}

#chat__container__chat__message, #chat__container__chat__bot__message {
    padding: .8rem;
    border: 1px solid #2F83E4;
    border-radius: 5px;
    font-size: 1rem;
}

#chat__container__chat__bot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    padding-right: 1rem;
}

#chat__container__chat__bot__message{
    width: 100%;
}

#chat__container__chat__bot__message p{
    display: inline;
    line-height: 1.5rem;
    width: auto;
    padding-right: .5rem;
    border-right: .3rem solid white;
    animation:  blink-caret .75s step-end infinite;
}

#chat__container__chat__bot img {
    padding-right: 1rem;
    width: 6rem;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: white;
    }
}