* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #002047;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat__container {
    width: calc(100% / 2);
    height: 90%;
    background-color: #001329;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#chat__container__form {
    display: flex;
    align-items: center;
    border: 1px solid #CBCBCB;
    width: 100%;
    padding: .3rem;
    border-radius: 3px;
}

#chat__container__form input {
    height: 100%;
}

#chat__container__form__input {
    width: 100%;
    background: transparent;
    color: white;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: .9rem;
}

#chat__container__form__submit {
    background-image: url('/assets/submit-button.svg');
    width: 3rem;
    height: 100%;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    cursor: pointer;
}

#chat__container__chats__content {
    width: 100%;
    height: 90%;
    padding: 2rem;
    overflow-y: auto;
}

.chat__container__chat {
    color: white;
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
}

.chat__container__chat img {
    padding: 0 0.9rem;
    min-width: 4vw;
}

.user {
    display: flex;
    flex-direction: row-reverse;
    color: white;
    width: 100%;
}

.bot {
    display: flex;
    color: white;
}


.chat__container__chat__message {
    padding: .8rem;
    border: 1px solid #2F83E4;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    min-height: 5rem;
    line-break: anywhere;
}

.chat__container__chat__message pre{
    line-height: 3rem;
    line-break: auto;
    white-space: pre-wrap;
}

@media only screen and (max-width: 600px) {
    #chat__container {
        width: 90%;
    }
    .chat__container__chat {
        color: white;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .chat__container__chat img {
        margin-bottom: 1rem;
        width: 5rem;
    }
    #chat__container__chats__content{
        padding: 2rem;
    }
}